.background{   
        height: 100vh;
        background-image: url("./asset/img.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        }
        
.SearchButton{
        width: 450px;
        height: 45px;
        background-color: #84808D;
        color: white;  
        
                
        }
